/*Reset CSS & common rulles*/
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Spectral", serif;
  font-weight: 400;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sections_heading {
  font-size: 5rem;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 7rem;
  border-bottom: 0.3rem solid #333;
  letter-spacing: 0.3rem;
  text-shadow: 0.2rem 0.2rem 0.5rem grey;
}

a:visited {
  text-decoration: none;
}

/*End Reset CSS*/

/*Section1*/
.section1 {
  width: 100%;
  height: 100vh;
  background: url(imgs/bg.jpg), center no-repeat;
  background-size: cover;
  flex-direction: column;
}
.section1_heading {
  font-size: 6rem;
  font-weight: 700;
  color: azure;
  text-align: center;
  background-color: #1b348e;
  padding: 0.3rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  border-bottom: 0.3rem groove azure;
  text-shadow: 0.2rem 0.2rem 1rem grey;
  transform: skew(-10deg);
}
.person_img {
  width: 25rem;
  height: 25rem;
  object-fit: cover;
  border-radius: 50%;
  border: 0.7rem solid #1b348e;
  background-color: rgba(255, 132, 222, 0.5);
  padding: 0.7rem;
}
.person_name {
  font-size: 2rem;
  color: azure;
  background-color: #1b348e;
  margin: 5rem 0;
  padding: 0.5rem 3rem;
  letter-spacing: 0.3rem;
  transform: skew(-10deg);
}
.section1_btn {
  font-size: 1.7rem;
  font-weight: 700;
  color: azure;
  background-color: rgba(255, 132, 222, 1);
  border: 0.3rem solid #1b348e;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}
/*End of Section1*/

/*Navigation bar*/
.navbar {
  width: 100%;
  height: 4rem;
  background-color: rgba(136, 1, 103, 255);
  box-shadow: 0.2rem 0.2rem 0.5rem grey;
  position: absolute;
  z-index: 300;
}

.sticky {
  position: fixed;
  top: 0;
}
.navbar_link {
  font-size: 1.7rem;
  font-weight: 700;
  color: rgba(255, 229, 238, 255);
  margin: 1.3rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  position: relative;
  transition: color 0.3s;
}

.change.navbar_link {
  color: #7f91c9;
}

.navbar_link:hover {
  color: #7f91c9;
}

.navbar_link::before {
  content: "";
  width: 0;
  height: 0.2rem;
  background-color: #7f91c9;
  position: absolute;
  bottom: 0rem;
  transition: width 0.3s;
}

.change.navbar_link::before {
  width: 97%;
}

.navbar_link:hover::before {
  width: 97%;
}
/*End of Navigation bar*/

/*Section 2*/
.section2 {
  width: 100%;
  height: 100%;
  padding: 15rem 0;
  background-color: #d6ebff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.abilities {
  margin-bottom: 10rem;
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.ability {
  text-align: center;
}

.ability:nth-child(odd) {
  align-self: flex-start;
}
.ability i {
  font-size: 10rem;
  color: #2d46ab;
  margin-bottom: 2rem;
  text-shadow: 0.1rem 0.1rem 0.3rem grey;
}

.ability_heading {
  font-size: 2rem;
  color: azure;
  background-color: #2d244b;
  width: 15rem;
  letter-spacing: 0.3rem;
  transform: skew(-10deg);
  box-shadow: 0.2rem 0.2rem 0.5rem grey;
}

.progress_bar {
  width: 40rem;
  height: 3rem;
  background-color: #2d244b;
  margin: 1.9rem 0;
  border-radius: 0.4rem;
  box-shadow: 0.2rem 0.2rem 1rem grey;
  position: relative;
}

.progress_text {
  position: absolute;
  left: 1rem;
  font-size: 1.5rem;
  color: azure;
}

.progress_text span {
  margin: 0 0.5rem;
  font-size: 1.8rem;
  font-weight: 700;
}

.progress_procent {
  width: 0;
  height: 100%;
  background-color: #f85feb;
  border-radius: 0.4rem;
  transition: width 0.5s 0.5s ease-in-out;
}

/*End Of Section 2*/

/*Section 3*/
.section3 {
  width: 100%;
  height: 100%;
  padding: 10rem 0;
  background-color: #390033;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section3_heading {
  color: azure;
  border-color: azure;
}

/*End Of Section 3*/

/*Section 4*/
.section4 {
  width: 100%;
  height: 100%;
  background: url(imgs/contact_tels.jpg) center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.section4_heading {
  margin: 7rem 0 5rem 0;
}
.contact_box {
  width: 40rem;
  flex-direction: column;
}

.contact_form input,
.contact_form textarea {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  background-color: azure;
  font-size: 1.5rem;
  border: 0.3rem solid black;
  color: grey;
}

.contact_form textarea {
  height: 10rem;
  max-height: 15rem;
  max-width: 100%;
}

.contact_form .contact_form_btn {
  background-color: #80807f;
  color: azure;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  cursor: pointer;
}

.contact_details {
  width: 40rem;
  display: flex;
  margin: 0 0 2rem 0;
}

.contact_details div {
  width: 20rem;
  margin: 2rem;
  text-align: center;
}

.contact_details i {
  font-size: 5rem;
  color: #5f5f5f;
}

.contact_details h3 {
  font-size: 2rem;
  margin-top: 2rem;
}

.contact_details p {
  font-size: 1.5rem;
  font-weight: 500;
}

/*End of Section 4*/

/*Footer*/
.footer {
  width: 100%;
  height: 30vh;
  background-color: #390033;
  flex-direction: column;
}

.social_media_link {
  margin: 0 2rem;
  padding: 0.7rem;
  border-radius: 0.5rem;
}

.social_media i {
  font-size: 3rem;
  color: #2d46ab;
}

.scroll_btn {
  position: fixed;
  right: 5rem;
  bottom: 5rem;
  width: 4.5rem;
  height: 4.5rem;
  background-color: #ffd401;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border-radius: 0.3rem;
  z-index: 300;
}
/*End of Footer*/

/* Rsponsive */

@media (max-width: 800px) {
  .section1_heading {
    font-size: 4rem;
  }
}

@media (max-width: 600px) {
  .section1_heading {
    font-size: 3rem;
  }

  .navbar_link {
    margin: 0 2rem;
    font-size: 1.5rem;
  }

  .section2 {
    padding: 10rem;
  }

  .section2_heading {
    margin-bottom: 10rem;
  }
  .abilities {
    height: auto;
    flex-wrap: wrap;
  }
  .ability {
    margin: 1rem;
  }

  .progress_bar {
    width: 35rem;
  }

  .scroll_btn {
    bottom: 3rem;
    right: 1rem;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 45%;
  }

  .sections_heading {
    font-size: 3rem;
  }
  .navbar-link {
    margin: 0 1.5rem;
  }
  .section1_heading {
    font-size: 2.5rem;
  }

  .section2_heading {
    text-align: center;
  }

  .work_prog {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }
}
/* End Of Rsponsive */
